<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EDermaCareLatestt"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitydash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitydash2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>


        <activity android:name=".ListAllDermatologists"
            android:exported="true">
        </activity>
        <activity android:name=".detectFragment1"
            android:exported="true">
        </activity>
        <activity android:name=".SearchResultsActivity"
            android:exported="true">
        </activity>
        <activity android:name=".BookAppointmentActivity"
            android:exported="true">
        </activity>
        <activity android:name=".DExtraDetails"
            android:exported="true">
        </activity>
        <activity android:name=".RescheduleAppointment"
            android:exported="true">
        </activity>
        <activity android:name=".IncomingAppointments"
            android:exported="true">
        </activity>
        <activity android:name=".ConfirmedAppointments"
            android:exported="true">
        </activity>
        <activity android:name=".CancelledAppointments"
            android:exported="true">
        </activity>
        <activity android:name=".LoginPatientActivity"
            android:exported="true">
        </activity>
        <activity android:name=".SignUpDermatologistActivity1"
            android:exported="true">
        </activity>

        <activity android:name=".SignUpDermatologistActivity2"
            android:exported="true">
        </activity>

        <activity android:name=".LoginDermatologistActivity"
            android:exported="true">
        </activity>
        <activity android:name=".BookConsultation"
            android:exported="true">
        </activity>
        <activity android:name=".SignUpPatientActivity"
            android:exported="true">
        </activity>
        <activity android:name=".profileFragment"
            android:exported="true">
        </activity>
        <activity android:name=".profileFragment2"
            android:exported="true">
        </activity>
        <activity android:name=".HistoryFragment"
            android:exported="true">

        </activity>
        <activity android:name=".acneActivity"
            android:exported="true">
        </activity>
        <activity android:name=".psoriasisActivity"
            android:exported="true">
        </activity>
        <activity android:name=".ringwormActivity"
            android:exported="true">
        </activity>
        <activity android:name=".insectBiteActivity"
            android:exported="true">
        </activity>
        <activity android:name=".nailActivity"
            android:exported="true">
        </activity>
        <activity android:name=".headerfile"
            android:exported="true">
        </activity>
        <activity android:name=".DermatologistProfile"
            android:exported="true">
        </activity>
        <activity android:name=".clinicProfile"
            android:exported="true">
        </activity>
        <activity android:name=".ConfirmAppointment"
            android:exported="true">
        </activity>
        <activity android:name=".CancelAppointment"
               android:exported="true">
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>